body {
  margin: 0;
}

:root {
  overflow: hidden;
}

.cursor-default {
  cursor: url('./assets/cursor/default.png') 8 8, default;
}

.cursor-move {
  cursor: url('./assets/cursor/move.png') 8 8, default;
}

.cursor-stop {
  cursor: url('./assets/cursor/stop.png') 8 8, default;
}

.canvas-wrapper {
  display: flex;
  align-items: center;
  min-width: 100vw;
  min-height: 100vh;
  justify-content: center;
}

.grid-canvas {
  margin: 0 auto;
  z-index: 2;
}

.ui-canvas {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  margin: 0 auto;
  z-index: 0;
}

.background-canvas {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  margin: 0 auto;
  z-index: 0;
}

.hero-canvas {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  margin: 0 auto;
  z-index: 1;
}
