body {
  margin: 0;
}

:root {
  overflow: hidden;
}

canvas {
  /* background-image: url('./assets/battlefields/1_0.jpg'); */
  cursor: url('./assets/cursor/move-unit.png') 8 8, pointer;

  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.cursor-move-unit {
  cursor: url('./assets/cursor/move-unit.png') 8 8, default;
}

.cursor-not-allowed {
  cursor: url('./assets/cursor/not_allowed.png') 8 8, default;
}

.canvas-wrapper {
  background-image: url('./assets/edge_pattern.png');
  background-repeat: repeat;

  display: flex;
  align-items: center;
  min-width: 100vw;
  min-height: 100vh;
  justify-content: center;
}

.grid-canvas {
  margin: 0 auto;
  z-index: 2;
}

.background-canvas {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  margin: 0 auto;
  z-index: 0;
}

.hero-canvas {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  margin: 0 auto;
  z-index: 1;
}
